* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  width: 1dvw;
}

::-webkit-scrollbar-track {
  background: #535730; 
}

::-webkit-scrollbar-thumb {
  background: #848a4c; 
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca35a; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

li {
  background-color: #6b703e;
  color: #b5bd68;
  padding: 1dvh;
}

li:hover {
  background-color: #b5bd68;
  color: #6b703e;
}

body {
  background-color: #1d1f21;
  color: #1d1f21;
  width: 100dvw;
  height: 100dvh;
  padding-left: 2dvw;
  padding-right: 2dvw;
  padding-top: 1dvh;
  padding-bottom: 1dvh;
}

.sc {
  display: none;
  position: fixed;
  z-index: 1;
  left: 2dvw;
  top: 7.1dvh;
  width: 96dvw;
  height: 22.5dvh;
  max-height: 22.5dvh;
  overflow: auto;
  background-color: #6b703e;
  border: 0.5dvh solid #b5bd68;
  border-radius: 1dvh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5dvh;
  font-weight: bold;
  text-align: center;
  padding: 1dvh;
}

.show {
  display: block;
}

.btnRed {
  background-color: #804040;
  border: 0.5dvh solid #804040;
  border-radius: 1dvh;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btnOrange {
  background-color: #de935f;
  border-top: 0.5dvh solid #de935f;
  border-right: 0.5dvh solid #de935f;
  border-bottom: 0.5dvh solid #91603e;
  border-left: 0.5dvh solid #de935f;
  border-radius: 1dvh;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btnYellow {
  background-color: #f0c674;
  border-top: 0.5dvh solid #f0c674;
  border-right: 0.5dvh solid #f0c674;
  border-bottom: 0.5dvh solid #a3874f;
  border-left: 0.5dvh solid #f0c674;
  border-radius: 1dvh;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btnBlue {
  background-color: #81a2be;
  border-top: 0.5dvh solid #81a2be;
  border-right: 0.5dvh solid #81a2be;
  border-bottom: 0.5dvh solid #4e6273;
  border-left: 0.5dvh solid #81a2be;
  border-radius: 1dvh;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btnPurple {
  background-color: #b294bb;
  border-top: 0.5dvh solid #b294bb;
  border-right: 0.5dvh solid #b294bb;
  border-bottom: 0.5dvh solid #68576e;
  border-left: 0.5dvh solid #b294bb;
  border-radius: 1dvh;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btnGreen {
  background-color: #6b703e;
  color: #b5bd68;
  border: 0.5dvh solid #b5bd68;
  border-radius: 1dvh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5dvh;
  font-weight: bold;
  text-align: center;
  height: 5.2dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.inputGreen {
  background-color: #6b703e;
  color: #b5bd68;
  border: 0.5dvh solid #b5bd68;
  border-radius: 1dvh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5dvh;
  font-weight: bold;
  text-align: center;
  height: 5.2dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.footerGreen {
  background-color: #6b703e;
  color: #b5bd68;
  border: 0.5dvh solid #b5bd68;
  border-radius: 1dvh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5dvh;
  font-weight: normal;
  text-align: left;
  height: 5.2dvh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2dvw;
}

.grid1s {
  display: inline-grid;
  grid-template-columns: 96dvw;
  column-gap: 2dvw;
  row-gap: 2dvh;
  justify-content: center;
  align-items: center;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
}

.grid4s {
  display: inline-grid;
  grid-template-columns: 22.5dvw 22.5dvw 22.5dvw 22.5dvw;
  column-gap: 2dvw;
  row-gap: 2dvh;
  justify-content: center;
  align-items: center;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
}

.grid4l {
  display: inline-grid;
  grid-template-columns: 22.5dvw 22.5dvw 22.5dvw 22.5dvw;
  column-gap: 2dvw;
  row-gap: 2dvh;
  justify-content: center;
  align-items: center;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
}

.grid7s {
  display: inline-grid;
  grid-template-columns: 11dvw 21dvw 11dvw 10.25dvw 10.25dvw 10.25dvw 10.25dvw;
  column-gap: 2dvw;
  row-gap: 2dvh;
  justify-content: center;
  align-items: center;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
}

.itemS {
  text-align: center;
  height: 5.2dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemL {
  text-align: center;
  height: 10.4dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgS {
  max-height: 4dvh;
  height: 3.2dvh;
  width: auto;
}

.svgL {
  max-height: 6dvh;
  height: 6dvh;
  width: auto;
}
